@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
        <tr>
            <td>Tartelleter</td>
            <td>Rugbrød med karrysalat</td>
            <td>Kaffekage</td>
        </tr>
        <tr>
            <td>Gaszpacho</td>
            <td>Tartelleter</td>
            <td>Kold suppe</td>
        </tr>
        <tr>
            <td>Franner</td>
            <td>Pizza</td>
            <td>Kold suppe 3</td>
        </tr>
    </table>
</div>
