@page
@model KantineModel
@{
    ViewData["Title"] = "Kontakt";
}

<div class="text-center">
    <h1 class="display-4">Kontakt infomartion til kantinen</h1>
    <table>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefonnummer</th>
        </tr>
        <tr>
            <td>Karen</td>
            <td>Karenmaileaaa.dk</td>
            <td>5342 3213</td>
        </tr>
    </table>
</div>
